﻿@model List<Country>
@{
    Layout = "_Layout";
}

<h2>Список стран в базе</h2>
<form asp-controller="Home" asp-action="FindCountry">
    <div class="form-group col-md-5">
        <label name="CountryName">Название страны: </label>
        <input class="form-control" name="countryName" />
    </div>
    <div class="panel-body">
        <button type="submit" id="submit" class="btn btn-primary" asp-controller="Home" asp-action="FindCountry">Найти</button>
        <a id="reset" class="btn btn-primary">Сбросить</a>
    </div>
</form>
<table class="table table-condensed table-striped  col-md-6">
    <thead>
        <tr><th>Название</th><th>Код страны</th><th>Столица</th><th>Площадь</th><th>Население</th><th>Регион</th></tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Code</td>
                <td>@item.Capital.Name</td>
                <td>@item.Area</td>
                <td>@item.Population</td>
                <td>@item.Region.Name</td>
            </tr>
        }
    </tbody>
</table>