﻿@model Country


<h2>Результат поиска</h2>

@if (Model != null)
{
    <form asp-controller="Home" asp-action="SaveCountry" method="post" class="form-group row">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-sm-2 col-form-label">Название</label>
            <label asp-for="Name" class="col-sm-10">@Model.Name</label>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="col-sm-2 col-form-label">Код страны</label>
            <label asp-for="Code" class="col-sm-10">@Model.Code</label>
        </div>
        <div class="form-group">
            <label asp-for="Capital" class="col-sm-2 col-form-label">Столица</label>
            <label asp-for="Capital.Name" class="col-sm-10">@Model.Capital.Name</label>
        </div>
        <div class="form-group">
            <label asp-for="Area" class="col-sm-2 col-form-label">Площадь</label>
            <label asp-for="Area" class="col-sm-10">@Model.Area</label>
        </div>
        <div class="form-group">
            <label asp-for="Population" class="col-sm-2 col-form-label">Население</label>
            <label asp-for="Population" class="col-sm-10">@Model.Population</label>
        </div>
        <div class="form-group">
            <label asp-for="Region" class="col-sm-2 col-form-label">Регион</label>
            <label asp-for="Region.Name" class="col-sm-10">@Model.Region.Name</label>
        </div>
        <div>
            <button type="submit" id="submit" class="btn btn-primary" asp-controller="Home" asp-action="SaveCountry">Сохранить в БД</button>
        </div>
        <div>
            <a class="btn" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
        </div>
    </form>
}
else
{
    <div>
        <label>Что-то пошло не так, видимо такой страны нет</label>
    </div>
    <div>
        <a class="btn" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
    </div>
}
